



<div  class="principal">
    <h1>Reutec Eletrônica - Orçamento</h1>

    <label for="Nome" class="padrao">Nome</label>
    <input for="Nome" type="text" class="padrao" id="nome" required>
    <label for="Endereco" class="padrao">Endereço</label>
    <input for="Endereco" type="text" class="padrao" id="Endereco" required>
    <label for="Telefone" class="padrao">Telefone</label>
    <input for="Telefone" type="number" class="padrao" id="Telefone" required>
    <label for="Aparelho" class="padrao">Aparelho</label>
    <input for="Aparelho" type="text" class="padrao" id="Aparelho" required>
    <label for="Marca" class="padrao">Marca</label>
    <input for="Marca" type="text" class="padrao" id="Marca" required>
    <label for="Modelo" class="padrao">Modelo</label>
    <input for="Modelo" type="text" class="padrao" id="Modelo" required>

    <input type="button" value="Enviar" onclick="Enviar()" class="Enviar">

</div>







